autopep8==1.5.7
backcall==0.2.0
click==8.0.1
colorama==0.4.4
cycler==0.10.0
debugpy==1.4.1
decorator==5.0.9
entrypoints==0.3
Flask==2.0.1
Flask-Cors==3.0.10
Flask-MySQLdb==0.2.0
gunicorn==20.1.0
ipykernel
ipython
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jupyter-client==7.0.1
jupyter-core==4.7.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib
matplotlib-inline
mysqlclient
nest-asyncio
numpy
pandas
parso
pickleshare
Pillow
prompt-toolkit
pycodestyle
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
threadpoolctl
toml
tornado
traitlets
wcwidth
Werkzeug
